{% extends 'form.card.html.twig' %}

{% block form %}
    <div {{ stimulus_controller('markdown') }}>
        {{ form_start( projectForm ) }}
            {{ form_row( projectForm.name) }}
            {{ form_row( projectForm.description, {'attr': {'data-markdown-target': 'field'}} ) }}
            <button class="btn btn-sm mb-2 btn-success" type="button" data-bs-toggle="modal" data-bs-target="#previewModal">
                Preview markdown
            </button>
            <span class='fs-6 ms-3 form-text'>Help with markdown? 
                <a href=https://github.github.com/gfm/>GitHub flavored markdown specification</a>
            </span>
            {{ form_rest( projectForm ) }}
        {{ form_end( projectForm ) }}

        {% include 'markdown_modal.html.twig' %}
    </div>
{% endblock %}