<div class="col-sm-6 col-md-4 col-xl-3 mb-3">
    <div class="card kanban-column" data-id={{ column.id }}>
        <div class="card-body">
            <h6 class="card-title mb-5">
                {{ column.name }}
                <button class="btn btn-sm btn-outline-secondary float-end" data-bs-toggle="modal" data-bs-target="#addIssueModal" {{ stimulus_action('kanban', 'updateForm', 'click') }}>
                    <i class="bi bi-plus"></i>
                </button>
            </h6>
            <div class="dropzone rounded mt-2" {{ stimulus_action('kanban', 'dropped', 'drop')|stimulus_action('kanban', 'draggedOver', 'dragover')|stimulus_action('kanban', 'draggedOut', 'dragleave') }}></div>
            {% for kanbanColumnIssue in column.kanbanColumnIssues %}
                <div class="kanban-draggable">
                    <div class="card kanban-issue mt-2" data-id={{ kanbanColumnIssue.issue.id }} draggable="true" {{ stimulus_action('kanban', 'dragged', 'dragstart') }}>
                        <div class="card-body">
                            <div class="card-title">
                                <a class="link-dark" href={{ path('app_issue', {id: kanbanColumnIssue.issue.id}) }}>{{ kanbanColumnIssue.issue.title }}</a>
                                <button class="btn btn-sm btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#removeIssueModal" {{ stimulus_action('kanban', 'removeIssueDetails', 'click') }}>
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                            <span class="badge rounded-pill me-2" {{ stimulus_target('tooltip-initialize', 'tooltip') }} data-bs-placement="top" title="Status" style="background-color: {{ kanbanColumnIssue.issue.status.color }} !important;">
                                {{ kanbanColumnIssue.issue.status.name }}
                            </span>
                            <span class="badge rounded-pill me-2" {{ stimulus_target('tooltip-initialize', 'tooltip') }} data-bs-placement="top" title="Priority" style="background-color: {{ kanbanColumnIssue.issue.priority.color }} !important;">
                                {{ kanbanColumnIssue.issue.priority.name }}
                            </span>
                        </div>
                    </div>
                    <div class="dropzone rounded mt-2" {{ stimulus_action('kanban', 'dropped', 'drop')|stimulus_action('kanban', 'draggedOver', 'dragover')|stimulus_action('kanban', 'draggedOut', 'dragleave') }}></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>